body {
  font-family: Arial, sans-serif;
  background: #e3eaf8;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}


h1 {
  margin: 20px;
  color: #333;
}

.search-box {
  position: relative;
  width: 350px;
}

#searchInput {
  width: 100%;
  padding: 12px;
  border: 2px solid #333;
  border-radius: 6px;
  font-size: 16px;
}

.suggestions {
 
  background: white;
  border: 1px solid transparent;
  border-radius: 4px;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
}

.suggestion-item {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
  transition: all 0.5s;
}


.suggestion-item:last-child {
  border-bottom: none;
}

.suggestion-item:hover {
  background: lightblue;
  transform: translateY(-1px);
  border: 2px dotted red;
}

.category {
  font-size: 12px;
  color: #666;
  margin-left: 5px;
}

.roadmap {
display: none;
  margin: 30px auto;
  width: 600px;
  padding: 20px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 0px 10px gray;
}

.roadmap h2 {
  margin-bottom: 50px;
  color: #222;
  text-align: center;
  
}

.timeline {
  position: relative;
  padding-left: 30px;
}

.timeline::before {
  content: "";
  position: absolute;
  left: 10px;
  top: 0;
  bottom: 0;
  width: 3px;
  background: #007BFF;
}

.step {
  margin: 15px 0;
  position: relative;
}

.step::before {
  content: "";
  position: absolute;
  left: -26px;
  top: 10px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #04d732;

  border:2px solid red;
}

.step p {
  border:2px solid rgb(199, 182, 182);
  margin-right: 10px;
  margin: 0;
  padding: 8px 12px;
  background: #f8f9fa;
  border-radius: 6px;
  display: inline-block;
  transition:all 1s;
}
.step p:hover{
  transform: translateY(-5px);
}
